body{
    background-color: #E4C4F2;
    
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: nowrap; 
    background-color: #0E0218;
    border-radius: 20px;
}
.header-logo-block{
    width: 15vw;
    height: 3rem;
    max-width:100%;
    box-sizing: border-box;
}
.header-logo-block h2{
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    font-size: clamp(1.rem, 1.5vw, 1.5rem);
    white-space: nowrap;
    color: white; 
    height: 100%;
    font-family: 'Suse mono', monospace;
}
.header-logo-block h2 img{
    height: 4.5rem;
    width: auto; 
}
.header-nav-block{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-end;
}
.nav-buttons{
    background-color: #8A13EC;
    color: white;  
    border: none;
    border-radius: 10px;
    transition: .5s;
    cursor: pointer;
    padding: 0.5rem 1rem;
}
.nav-buttons:hover{
    background-color: #E4C4F2;
    color:#0E0218 ;
    transform: scale(1.08);
}
.brief-intro-container{
    width: 80vw; 
    max-width: 700px;
    margin: 2rem auto;
    background-color: #C15CD1;
    padding: 1rem;
    border-radius: 20px;
}
.brief-intro-block{
    display: flex;
    flex-direction: column;
    border: 1px solid #0E0218;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.03);
    background-color: #0E0218;
}

.intro-heading{
    font-size: 2rem;
    text-align: center;
    margin: 1.5rem 0; 
    font-family: 'Suse mono', monospace;
    color: white;
}

.intro-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
    padding: 1rem; 
    gap: 2rem; 
    color: white;
    font-family: 'Suse mono', monospace;
    vertical-align: top;
}
.intro-text, .intro-image{
    flex: 1 1 45%;
    max-width: 45%; 
}
.intro-image img{
    width: 100%;
    height: 70%;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(230, 200, 255, 0.4);
}
.intro-text p{
    font-size: 1.1rem;
    line-height: 1.6;
}
.intro-links{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
    flex-wrap: wrap;
}
.app-link{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #8A13EC;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    transition: 0.3s ease; 
}
.app-link:hover{
    background-color: #E4C4F2;
    transform: scale(1.05);
}
.app-link img{
    height: 2.5rem;
    width: auto;
    border-radius: 10px;;
}