
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: nowrap; 
}
.header-logo-block{
    width: 15vw;
    height: 3rem;
    max-width:100%;
    box-sizing: border-box;
}
.header-logo-block h2{
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    font-size: clamp(1.rem, 1.5vw, 1.5rem);
    white-space: nowrap;
}
.header-logo-block h2 img{
    height: 4.5rem;
    width: auto; 
}
.header-nav-block{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-end;
}